*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root {
 --widht-max-1 : 0; 
 --widht-max-2 : 0; 
 --widht-max-3 : 0; 
 --widht-max-4 : 0;
 
 font-size: 62.5%;
 
}
html{
    font-size: 1.6rem ;
    scroll-behavior:smooth;
}

body{
    background-color: black;
}

#cabecalho{
    display: flex;
    justify-content: space-around;
    max-width: 1110px;
    height: 7rem;
    border-radius: 0px 0px 8px 8px;
    background-color: #1B1B1B;
    position:fixed;
    right: 0;
    left: 0;
    margin: auto;
    z-index:5;
}


#menu, #redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

#menu > ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
    gap: 7rem;
    margin-bottom: 0.4rem;
}


#menu > ul > li > a {
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: 1.8rem;
    position: relative;
    letter-spacing: 0.01em;
    color: darkorchid;
    width: 34px;
    height: 18px;
}



#menu > ul > li > a::after{
    content: "";
    background-color: white;
    display: block;
    position: absolute;
    height: 6px;
    top: 100%;
    transition: width 1s ease;
}

.item_1::after{
    width: var(--widht-max-1);
}

.item_2::after{
    width: var(--widht-max-2);
}

.item_3::after{
    width: var(--widht-max-3);
}

/* .item_4::after{
    width: var(--widht-max-4);
} */


#menu > ul > li > a:hover::after{
    width: 100%;
}



#redes_sociais{
    align-items: center;
}

#redes_sociais > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.4rem;
    list-style-type:none;
}

.rs-1, .rs-2, .rs-3{
    font-size: 30px;
    color: white;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    text-align: center;

    transition:transform 0.9s ease , color 0.5s ease;

}
.rs-1:hover{
    transform:translateY(-10px);
    color:#E1306C;
}

.rs-2:hover{
    transform:translateY(-10px);
    color:#25D366;
}

.rs-3:hover{
    transform:translateY(-10px);
    color:#0e76a8;
}

.logo_menu{
    display: none;
}

#menu-icon{
    width: 50px;
    height: 50%;
    background-color: darkorchid;
    border-radius: 10px ;
    display: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    
}

#menu-icon > i{
    font-size: 20px;
    color: white;
    
}

#menu-mobile{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
}

#menu-mobile > ul{

    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

#menu-mobile > ul > li{
    margin: 30px;
    font-size: 1.6rem;
    
}

#menu-mobile > ul > li > a{
    color: darkorchid;
    text-decoration: none;
}

#menu-mobile > ul > li > a::after{
    content: "";
    background-color: white;
    display: block;
    width: 0;
    height: 6px;
    transition: width 1s ease;
}
#menu-mobile > ul > li > a:hover::after{
    width: 100%;
}

.sobre_mim_section{
    max-width: 1110px;
    display: flex;
    margin: auto;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.perfil{
    width: 35rem;
    height: 35rem;
}

#sobre_foto{
    height: 100%;
    width: 100%;
    border-radius: 20%;
}

.sobre{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: fit-content;
    height: fit-content;
    align-items: end;
}

.sobre > h1{
    max-width: 42.6rem;
    height: 5.2rem;
    font-family: 'Raleway';
    font-size: 4.4rem;
    line-height: 52px;
    text-align: end;
/* identical to box height */

    color: #FFFFFF;

}


.sobre > p{
    max-width: 49.2rem;
    height: 17.2rem;
    text-align: justify;
    font-family: 'IBM Plex Mono';
    font-size: 1.4rem;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.01em;

    color: #9C9C9C;
}

.sobre > button{
    padding: 21px 64px;
    gap: 10px;
    width: 30.789rem;
    height: 6.3rem;
    font-size: 1.6rem;
    background: #3F8E00;
    border: 1px solid #62BA1B;
    box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
    border-radius: 4px;
    color:#FFFFFF ;
    font-family: 'IBM Plex Mono';
    line-height: 21px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.sobre > button:active{
    background-color: rgba(63, 142, 0, 0.5);
}

.projeto_section {
    max-width: 1110px ;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px ;
}

.titulo{
    max-width: 79.2rem;
    height: 12.2rem;
}

.titulo > h1 {
    color: darkorchid;
    font-family: 'Raleway';
    font-size: 4rem;
    line-height: 52px;
}

.cards{
    border-radius: 10px;
    height: 400px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container_images{
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.container_images > ul {
    display: flex;
    overflow: hidden;
}


.card{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-image: url(../image/background.png);
    margin: 0 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.cards > button{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.cards > button > img{
    width: 60%;
    height: 80%;
}

.cards > .button_left{
    left: 0;
}

.cards > .button_right{
    right: 0;
}

@media screen and (max-width: 1000px){
    html{
        font-size: 13px;
        text-align: center;
    }

    #cabecalho{
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
    }

    #menu, #redes_sociais{
        display: none;
    }

    .logo_menu{
        display: block;
        width: 5rem;
        height: 5rem;
    }

    #section_localizacao_sobre{
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100%;

    }

    .sobre{
        align-items: center;
        justify-content: space-evenly;
        gap: 5;
    }


    .perfil {
        margin-top: 150px;
    }



    .cards{
        width: 90%;
    }
    

    #menu-icon {
        display: block;
    }

    .titulo {
        margin-top: 12rem;
    }
    

}

@media screen and (max-width: 450px){

    .sobre {
        gap: 5;
        width:90%;
    }


    .sobre > h1 {
        font-size: 3.3rem;

    }
    .sobre > p {
        height: 26.4rem;
    }

    .perfil{
        width: 25rem;
        height: 25rem;
    }


}