*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root {
 --widht-max-1 : 0; 
 --widht-max-2 : 0; 
 --widht-max-3 : 0; 
 --widht-max-4 : 0; 
}
html{
    font-size: 16px;
    scroll-behavior:smooth;
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 100px;
    background-color: black;
    border-bottom: 1px solid white;
    position:fixed;
    right: 0;
    left: 0;
    margin: auto;
    align-items: center;
    z-index:5;

}

.nome-logo{
    display: flex;
    width: 20%;
    justify-content: start;
    z-index: 2;
    position: relative;
}
#nome, #menu, #redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #logo{
    height: 80%;
} */

#nome {
    font-size: 1.6rem;
    color: darkorchid;
    font-family: 'Lato', sans-serif;
    font-family: 'Shantell Sans', cursive;
    margin:0 0 0 10px;  
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

}

#menu-icon{
    width: 50px;
    height: 50%;
    background-color: darkorchid;
    border-radius: 10px ;
    display: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    
}

#menu-icon > i{
    font-size: 20px;
    color: white;
    
}

#menu-mobile{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
}

#menu-mobile > ul{

    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

#menu-mobile > ul > li{
    margin: 30px;
    font-size: 1.6rem;
    
}

#menu-mobile > ul > li > a{
    color: darkorchid;
    text-decoration: none;
}

#menu-mobile > ul > li > a::after{
    content: "";
    background-color: white;
    display: block;
    width: 0;
    height: 6px;
    transition: width 1s ease;
}
#menu-mobile > ul > li > a:hover::after{
    width: 100%;
}





#menu > ul, #redes_sociais > ul{
    list-style-type:none;
    width: 100%;
    display: flex;
}

#menu > ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
   
}

#menu > ul > li {
    
}

#menu > ul > li > a {
    text-decoration: none;
    font-size: 1.3rem;
    color: darkorchid;
    position: relative;
    width: 100%;
    height: 100%;;
}



#menu > ul > li > a::after{
    content: "";
    background-color: white;
    display: block;
    position: absolute;
    height: 6px;
    top: 100%;
    transition: width 1s ease;
}

.item_1::after{
    width: var(--widht-max-1);
}

.item_2::after{
    width: var(--widht-max-2);
}

.item_3::after{
    width: var(--widht-max-3);
}

.item_4::after{
    width: var(--widht-max-4);
}


#menu > ul > li > a:hover::after{
    width: 100%;
}



#redes_sociais{
    justify-content: center;
    align-items: center;
    width: 20%;
}

#redes_sociais > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#redes_sociais > ul > li{
   
}
.rs-1, .rs-2, .rs-3{
    font-size: 30px;
    color: white;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    text-align: center;

    transition:transform 0.9s ease , color 0.5s ease;

}
.rs-1:hover{
    transform:translateY(-10px);
    color:#E1306C;
}

.rs-2:hover{
    transform:translateY(-10px);
    color:#25D366;
}

.rs-3:hover{
    transform:translateY(-10px);
    color:#0e76a8;
}

section{
    max-width: 1200px;
    display: flex;
    margin: auto;
    height: 100vh;
}

.perfil, .sobre{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre{
    flex-direction: column;
    padding: 20px;
}

#sobre_foto{
    width: 80%;
    border-radius: 20%;
}

.sobre > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 30px;
    color: white;
    text-align: justify;
}

.tecnologias_projetos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo{
    font-size: 3rem;
}

.titulo > h1 {
    color: darkorchid;
}

.cards{
    border-radius: 10px;
    background-color: rgba(128,128,128, 0.7);
    height: 500px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container_images{
    width: 80%;
    height: 250px;
}

.images_conhecimentos{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: 10px;
}

.images_conhecimentos > ul {
    display: flex;
    justify-content: space-between;
}


.cards > button{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    position: static;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cards > button > img{
    width: 60%;
    height: 80%;
}

.cards > .button_left{
    left: 0;
}

.cards > .button_right{
    right: 0;
}

.card{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    margin: 0 10px;
}


@media screen and (max-width: 1000px){
    html{
        font-size: 13px;
        text-align: center;
    }

    header{
        justify-content: space-around;
        z-index: 1;
    }


    

    .cards{
        width: 90%;
    }
    .sobre, .perfil{
        width: 90%;
    }

    .perfil {
        margin-top: 140px;
    }

    .titulo{
        margin: 20px 0 0 0 ;
    }
    #menu, #redes_sociais{
        display: none;
    }

    #section_localizacao_sobre{
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100%;

    }

    
    #menu-icon {
        display: block;
    }

}

@media screen and (max-width: 400px){
    .titulo{
        margin: 100px 0 0 0 ;
    }
}