*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 100px;
    margin: auto;
    background-color: black;
}

.nome-logo{
    display: flex;
    width: 20%;
    justify-content: start;
}
#nome, #menu, #redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #logo{
    height: 80%;
} */

#nome {
    font-size: 1.4rem;
    color: darkorchid;
    font-family: 'Lato', sans-serif;
    font-family: 'Shantell Sans', cursive;
    margin:0 0 0 10px;  
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

}



#menu > ul, #redes_sociais > ul{
    list-style-type:none;
    width: 100%;
    display: flex;
}

#menu > ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
   
}

#menu > ul > li {
    
}

#menu > ul > li > a {
    text-decoration: none;
    font-size: 1.3rem;
    color: darkorchid;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition-duration: 1s;
}



#menu > ul > li > a::after{
    content: "";
    background-color: darkorchid;
    display: block;
    position: absolute;
    height: 6px;
    width: 0;
    top: 100%;
    transition-property: width ;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#menu > ul > li > a:hover::after{
    width: 100%;
}


#redes_sociais{
    justify-content: end;
    align-items: center;
    width: 20%;
}

#redes_sociais > ul{
    width: 100%;
    display: flex;
    justify-content: end;
}

#redes_sociais > ul > li{
   
}
.rs-1, .rs-2, .rs-3{
    font-size: 30px;
    color: white;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    line-height: 50px;
    transition-property: transform, color;
    transition-duration: 1s;
    transition-timing-function: ease;
}


.rs-1:hover{
    transform:translateY(-10px);
    color:#E1306C;
}

.rs-2:hover{
    transform:translateY(-10px);
    color:#25D366;
}

.rs-3:hover{
    transform:translateY(-10px);
    color:#0e76a8;
}

